## List

### Lists are ordered kinda values. A data type. Often denoted in square brackets

In [6]:
names = ['Isaac', 'King', 'Theo', 'Jakes']

In [7]:
type(names)

list

In [4]:
ages = [12,23,45,67,66]

In [5]:
type(ages)

list

In [7]:
goods = [12, "Isaac", 34.44, [1,234,55]]

In [8]:
names[3]

'Jakes'

In [9]:
names[-1]

'Jakes'

In [10]:
names

['Isaac', 'King', 'Theo', 'Jakes']

## Conditional Statements

In [11]:
#If statements

In [12]:
import keyword

In [13]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [14]:
'''
syntax:
if condition:
    statement to execute if true

'''

'\nsyntax:\nif condition:\n    statement to execute if true\n\n'

In [15]:
names

['Isaac', 'King', 'Theo', 'Jakes']

In [16]:
if 'King' in names: 
    print("Good day people")

Good day people

In [17]:
if 'Cecil' in names:
    print('You are in class')
else:
    print("Where you at please")

Where you at please

In [18]:
num = 4 
if num > 3:
    print("This number is greater")

This number is greater

# If else statement

In [19]:
if "Cecli" in names: 
    print("Welcome to class")
else:
    print("`She did not step foot in class today")

`She did not step foot in class today

# Nested if statements

In [20]:
num = 10

if num > 5:
    print("Greater than")
    if num % 2 == 0:
        print('This is an even number')

Greater than
This is an even number

## Taking input from the user

In [1]:
num = int(input("Enter your Favorite number: "))
if num > 10:
    if num % 2 == 0:
        print("Your number is an even number")
    else: 
        print("Your number is an odd number")
else:
    print("kindly choose any number greater than 10")

Enter your Favorite number: 23
Your number is an odd number

## Loops

#### For loop sytax 
#### for i in iterable:
####        #statements

In [3]:
for i in range(5):
    print("Hello, how are you?", i)

Hello, how are you? 0
Hello, how are you? 1
Hello, how are you? 2
Hello, how are you? 3
Hello, how are you? 4

In [8]:
for name in names:
    print(name, "Is  a member of the society")

Isaac Is  a member of the society
King Is  a member of the society
Theo Is  a member of the society
Jakes Is  a member of the society

In [12]:
even = []
odd = []

for num in range(1,21):
    if num % 2 == 0:
        even.append(num)
    else:
        odd.append(num)

In [13]:
even

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [14]:
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [15]:
for name in ['Theo', 'Isaac', 'Emmanuel', 'King']:
    print(name)

Theo
Isaac
Emmanuel
King

### While loop

In [17]:
n = 1

while n < 5:
    n +=1
    print(n)

2
3
4
5

In [20]:
password = 'king3'
n = 0
while n  < 3: 
    
    name = input("Please enter your name: ")
    pas = input("Enter your password: ")
    
    
    if pas == password:
        print("Access granted ", name)
        break 
    else:
        print("Try again")
        n = n+1

Please enter your name: Isaac
Enter your password: king3
Access granted  Isaac